SetEnv SERVER_ADMIN dakota.colborne@gmail.com

## Swith 302 to 301 when website is finished
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)\.html$ /$1 [L,R=302]

## RewriteCond %{REQUEST_URI} !^/(robots\.txt|favicon\.ico|sitemap\.xml)$
## RewriteCond %{HTTP_HOST} !^www\.missbraidz\.com$ [NC]
## RewriteRule ^(.*)$ https://www.missbraidz.com/$1 [R=302,L]