.admin-structure {
  display: flex;
}

.admin-header {
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: start;
  width: 300px;
  height: 100vh;
  background-color: rgba(0, 0, 139, 0.658);
  padding: 50px;
}

.admin-menu {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.menu-text {
  color: white;
  width: 100%;
  font-size: 20px;
}

.admin-body {
  width: 100%;
  padding: 50px;
}

.logo {
  width: 100px;
}